body{
	background-color: darkorange;
}

h1 {
	border-radius: 10px;
	 position: relative;
	top: 350px;
  color: red;
  background-color: black;
  border: 1px solid black;
	
	margin-top: 1%;
	margin-right: 60%;
	margin-bottom: 3%;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
	font-size: 15px;
    padding:  px;
}

p {
  color: red;
}

img.logo {
position: absolute;
  right:300px;
	left: 1px;
	width: 5%;
	
	max-width: 5%;
	
	
}
.Nav {
	border-radius: 10px;
	 border: 5px solid #A39A27;
    width: 100%;
	background: black;
    position: sticky;
    top: 0;
    z-index: 2;
    
}

.Nav #Bar , .Nav #Act {
	color: red;
	display: inline-block;
	padding: 2.1vh;
    font-size: 2.2vw;
	width: 100%;
	text-align: center;
	transition: .3s ease-out all;
}

.Nav #Bar:hover {
	background: #fffeff;
    border-radius: 5px;
	color: black;
	text-decoration: none;
}


.Cont {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}




li.form{
	border-radius: 10px;
	 border: 5px solid #A39A27;
 list-style: none;
	text-align: left;
      position:static;
	top: 100px;
	background-color: black;
	margin-top: 1%;
	margin-left: 60%;
	margin-bottom: 3%;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: red;
    font-size: 15px;
    padding:  10px;
}




.footer{
	border-radius: 10px;
	 border: 5px solid #A39A27;
    color: red;
	display: inline-block;
    background: #07050D;
	width: 100%;
    font-size: 20px;
}
.footer h3{
    text-align: center;
}
.Siguenos{
    width: 20%;
    text-align: center;
}
/*Scroll*/
body::-webkit-scrollbar {
	width: 6px;
	background: white;
	
}
body::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #1a1d1e;
	border-right: 2px solid #242424; 
}


